<app-header></app-header>
<app-menu></app-menu>
<div class="page-content" id="content">
  <!-- Toggle button -->
  <div class="container">
    <div class="row col-12 align-items-center" style="text-align: center;">
      <div class="col-sm-12">
        <h1 class="textoPrincipal" style="text-align: center;display: contents;">Clientes</h1>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <div class="table table-hover align-middle" class="table" cellspacing="0" width="100%">
        <!-- Demo content -->
        <table mat-table class="mat-elevation-z15 tab" name="tabla" id="tabla">
          <thead class="table-info">
            <th>Codigo</th>
            <th>Cliente</th>
          </thead>
          <tbody>
            <tr *ngFor="let c of clientes | paginate: { itemsPerPage: 6, currentPage: p } ; let i = index">
              <td>{{ c.codigo }}</td>
              <td>{{ c.nombre }}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="align-items-center" style="text-align: center; margin-top: 1%;" *ngIf="comprobacionTabla==false">No
          existen registros en la sección {{seccion}}</h3>

        <div class="col-12 text-align-center paginacion">
          <pagination-controls (pageChange)="p = $event" previousLabel="Atras" nextLabel="Siguiente" maxSize=5
            responsive=true autoHide=true></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
